html {
	height: 100vh;
}

body {
	--bg-color: white;
	--line-color: #C1C0D1;
	font-family: 'Nunito Sans', 'Roboto', Arial;
	color: #27273F;
	min-height: 90%;
	background-color: #F8F8F8;
	
	background-image: url("./background.png");
	background-size: cover;
	background-repeat: no-repeat;
}

main {
	width: 80%;
	max-width: 1080px;
	min-width: 540px;
	text-align: center;
	margin: auto;
}

input {
	font-family: 'Nunito Sans', 'Roboto', Arial;
	border-radius: 0px;
	border: none;
	background-color: transparent;
	padding: 0;
	font-size: inherit;
}

input::placeholder {
	color: #6E7491;
	opacity: 1;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.input-line {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	margin: 2em 0;
	border: 1px solid var(--line-color);
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	background-color: white;
	border-radius: 4px;
}

.input-line :is(label, input) {
	flex-grow: 1;
}

.input-line label {
	display: flex;
	flex-flow: row nowrap;
}

.input-line > input, .input-line > label > * {
	padding: 4px;
}

.input-line > *:not(:last-child) {
	border-bottom: 1px solid var(--line-color);
	border-right-width: 0px;
}

@media (min-width: 960px) {
	
    .input-line {
        flex-direction: row;
    }
	
	.input-line > :not(:last-child) {
		border-right: 1px solid var(--line-color);
		border-bottom-width: 0px;
	}
}

label:has(input:checked[name="one-way"][type=checkbox]) + label {
	display: none;
}

.submit-button {
	border: none;
	border-radius: 4px;
	background-color: #605DEC;
	color: white;
	padding: 0.75em 1em;
}

.submit-button:hover {
	background-color: #5552C4;
	cursor: pointer;
}

.submit-button:active {
	background-color: #4947BF;
}

.submit-button:disabled {
	background-color: grey;
	cursor: not-allowed;
}

.logo
{
	text-indent: -999999px;
	background : url("./Main Logo.png");
	width : 200px;
	height: 75px;
	margin: auto;
	background-size: contain;
	background-repeat: no-repeat;
}

a.back-button {
	color: #6E7491;
	font-size: 1.2em;
	text-decoration: none;
	float: left;
	margin-top: 1.4em;
}

a.next-button {
	color: #6E7491;
	font-size: 1.2em;
	text-decoration: none;
	float: right;
	margin-top: 1.4em;
}

a.back-button:hover {
	text-decoration: underline;
}
